DATABASE_URL= postgresql://neondb_owner:npg_IrB76cTSZmxY@ep-red-sound-atgu4lhs-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DIRECT_DATABASE_URL= postgresql://neondb_owner:npg_IrB76cTSZmxY@ep-red-sound-atgu4lhs-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
